extends ./blocks/template.jade

block title
	title Blog

block arrow
	a(href="#blog").arrow__link.arrow__link_relative Перейти к блогу

block content
	section.green-folder
		a(href="#content-table").green-folder__link Перейти к оглавлению блогов
					
				
	section.blogs
		.content__wrap.clearfix
			aside#content-table.sidebar
				ul.sidebar__list
					each item, idx in blogs
						if idx == 0 
							li.sidebar__item.sidebar__item_active
								a.sidebar__link(href="#article-#{blogs.length-idx}") #{item.title}
						else
							li.sidebar__item
								a.sidebar__link(href="#article-#{blogs.length-idx}") #{item.title}

			.content
				h2#blog.content__head Последние опубликованные статьи
				article#article-4.article
					h3.article__head #{article1.title}
					p.article__date
						time(datetime="#{article2.date}" pubdate) #{article2.dateFull}
					p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

					p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

					p Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.
				article#article-3.article
					h3.article__head #{article2.title}
					p.article__date
						time(datetime="#{article2.date}" pubdate) #{article2.dateFull}
					p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

					p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

					p Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.
				article#article-2.article
					h3.article__head #{article3.title}
					p.article__date
						time(datetime="#{article3.date}" pubdate) #{article3.dateFull}
					p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

					p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

					p Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.
				article#article-1.article
					h3.article__head #{article4.title}
					p.article__date
						time(datetime="#{article4.date}" pubdate) #{article4.dateFull}
					p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

					p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

					p Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.
